/*_______ Big header on home page _______*/
.home-header {
    margin-bottom: 2rem;
    padding: 4rem 0;

    @media(min-width: 1024px) {
        padding: 6rem 12%;
    }

    .wp-block-cover__inner-container {
        width: 100%;

    }

    .wp-block-columns {
        justify-content: space-between;
        color: $color__primary;
        margin-top: 0;
        margin-bottom: 0;

        .wp-block-column {
            &:first-child {
                flex: 0 1 100%;
                min-width: 260px;
                margin: 0;

                @media(min-width: 768px) {
                    flex: 0 1 40%;
                }
            }

            &:not(:first-child) {
                padding: 0;
                flex: 0 1 100%;

                @media(min-width: 768px) {
                    margin-left: 0;
                    flex: 1 1 55%;
                }
            }


        }
    }

    .wp-block-button__link {

        &:hover,
        &:visited {
            color: $color__primary;
        }
    }
}

/*_______ Big logo animated _______*/
.wceu-logo {
    max-width: 260px;
    margin-bottom: 4rem;

    @media(min-width: 350px) {
        margin-left: auto;
        margin-right: auto;
    }

    @media(min-width: 768px) {
        margin: 0;
    }

    /*_______ Reduced Motion Media Query _______*/
    @media (prefers-reduced-motion: reduce) {

        .wceuicon *,
        .wceuicon:before,
        .wceuicon:after,
        .wceu-logo-text * {
            animation: none !important;
            animation-delay: 0s !important;
            animation-duration: 0s !important;
        }

        .wceuicon {
            &:after {
                width: 100%;
                height: 100%;
                border-color: $color__primary;
            }

            .dot {
                opacity: 1;
                position: relative !important;
                left: 0 !important;

                &:nth-of-type(3) {
                    transform: scale(2.75);
                    background-color: $color__secondary;
                    background-image: url(https://2020.europe.wordcamp.org/files/2020/01/wordpress-icon-white.png);
                    margin: 2.5% -10% 0 20.5%;
                }
            }
        }

        .wceu-title span,
        .wceu-subtitle {
            margin-left: 0;
        }
    }
}

.wceuicon {
    position: relative;
    width: 260px;
    height: 260px;
    padding: 1.5rem;
    background-color: $color__tertiary;
    /*border: 1rem solid $color__primary;*/
    box-shadow: inset 0 0 0 1rem $color__tertiary;
    margin: 0 auto;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        top: -1rem;
        right: -1rem;
        background-color: $color__tertiary;
        width: 10rem;
        height: 10rem;
        z-index: 1;
    }

    &:after {
        content: '';
        box-sizing: inherit;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border: .75rem solid transparent;
        transition:
            width 0.25s ease-out,
            height 0.25s ease-out 0.25s;
        animation: borderbefore .25s ease-out 5s forwards;
    }

    .dots {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-flow: row wrap;
        width: 100%;
        height: 100%;
        border: none;
        padding: 0;
        margin: 0 auto 0;
        z-index: 10;

        .underscore {
            width: 2.25rem;
            height: .75rem;
            background-color: $color__primary;
            border-radius: 0;
            margin: 20% 8% 0;
            animation: underflash .5s linear;
            animation-iteration-count: 10;
        }

        .dot {
            position: absolute;
            left: -100%;
            flex: 0 0 2rem;
            width: 2rem;
            height: 2rem;
            background-color: $color__primary;
            background-size: 77%;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 100%;
            margin: 9% 8%;
            overflow: hidden;
            animation: appeardot .25s ease-out forwards;
            transform-origin: center;

            &:first-of-type {
                animation-delay: 1s;
            }

            &:nth-of-type(2) {
                animation-delay: 1.5s;
            }

            &:nth-of-type(3) {
                animation:
                    appeardot .25s ease-out 2s forwards,
                    badging .5s ease-out 5s forwards;
            }

            &:nth-of-type(4) {
                animation-delay: 2.5s;
            }

            &:nth-of-type(5) {
                animation-delay: 3s;
            }

            &:nth-of-type(6) {
                animation-delay: 3.5s;
            }

            &:nth-of-type(7) {
                animation-delay: 4s;
            }

            &:nth-of-type(8) {
                animation-delay: 4.5s;
            }

            &:nth-of-type(9) {
                animation-delay: 5s;
            }
        }
    }
}

@keyframes borderbefore {
    from {
        width: 0;
        height: 0;
    }

    to {
        width: 100%;
        height: 100%;
        border-top-color: $color__primary;
        border-right-color: $color__primary;
        border-bottom-color: $color__primary;
        border-left-color: $color__primary;
    }
}

@keyframes underflash {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes appeardot {
    from {
        opacity: 0;
        position: absolute;
        left: -100%;
    }

    to {
        opacity: 1;
        position: relative;
        left: 0;
    }
}

@keyframes badging {
    from {}

    to {
        transform: scale(2.75);
        background-color: $color__secondary;
        background-image: url(https://2020.europe.wordcamp.org/files/2020/01/wordpress-icon-white.png);
        background-size: 77%;
        background-repeat: no-repeat;
        background-position: center;
        margin: 2.5% -10% 0 20.5%;
    }
}

.wceu-logo-text {
    overflow: hidden;
}

.wceu-title {
    height: 108px;
    font-size: 3.375rem;
    line-height: 100%;
    margin-top: 1.5rem;
    margin-bottom: .5rem;

    span {
        margin-left: -400px;
        animation: slidein .2s ease-in-out forwards;
        animation-delay: 5.5s;

        &:last-of-type {
            animation-delay: 5.75s;
        }
    }
}

.wceu-subtitle {
    font-size: 3rem;
    color: $color__secondary !important;
    margin-top: 0 !important;
    margin-left: -400px;
    animation: slidein .2s ease-in-out forwards;
    animation-delay: 6s;
}

@keyframes slidein {
    0% {
        margin-left: -400px;
    }

    100% {
        margin-left: 0px;
    }
}


/*_______ Event data (previously on home header) _______*/
.wceu-data-title,
.wceu-data-subtitle {
    line-height: 100%;
    margin-top: 0;
    margin-bottom: .5rem;
}

.wceu-data-title {
    font-size: 1.5rem;
    color: $color__primary;

    @media(min-width: 480px) {
        font-size: 2rem;
    }
}

.wceu-data-subtitle {
    font-weight: 400;
    font-size: 1rem;
    color: $color__primary;
    margin-bottom: .5rem;

    @media(min-width: 480px) {
        font-size: 1.75rem;
    }
}

/*_______ Big claim content _______*/
.wceu-claim {
    font-weight: 700;
    font-size: 10vw;
    line-height: 100%;
    margin: 0 0 2rem;

    @media(min-width: 480px) {
        font-size: 3rem;
    }

    @media(min-width: 1025px) {
        font-size: 4rem;
    }
}

.wceu-claim-text {
    font-size: 1.25rem;
    line-height: 120%;
    color: $color__primary !important;
    margin-left: auto;

    @media(min-width: 769px) {
        font-size: 1.5rem;
    }
}

.wceu-second-claim {
    font-size: 2.5rem;
    margin-bottom: 1rem;

    @media(min-width: 769px) {
        font-size: 4rem;
    }
}